devquiz/slidingpuzzle/baretail.exe.lnk
gcj/Qualification Round 2012/_ref_D-large/
mypc/
other/ba_cy/
local/
plugin/
in
in[0-9]
in.[0-9]
do.sh
do.bat
tmp
tmp[0-9]
*.tmp
*/tmp/*
*/tmp_*/*
*/__pycache__
*/.cache
[0-9]
*.in
*.out
*.pyc
*.exe
*.bk
*.bak
*.bk.cpp
*.in[0-9]
*.in.[0-9]
*.out[0-9]
*.out.[0-9]
*.expect.[0-9]
*.bak[0-9]
*~[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.obj
